Arch_Utils/*
.cache/*
.local/*
.mozilla/*
.emacs.d/backup/
.emacs.d/recentf
.emacs.d/desktop
.emacs.d/saveplace
.emacs.d/prescient-items
.gitconfig
Arch_Clean/
Arch_Clean2/
.config/pulse/
.config/mpd/